<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Character</title>
	</head>
	<body>
    <nav>
      <a href="/characters/new">Add a New Character</a>
    </nav>
		<h1>My Character List</h1>
    <ul>
      <% characters.forEach(character => { %>
      <li> <a href="/characters/<%=character._id; %>"> <%=character.name; %> </a>
      <form action="/characters/<%= character.id %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE" />
      </form>
      <a href="/characters/<%=character._id %>/edit">Edit</a>
      </li>
      <%  }) %>
    </ul>
	</body>
</html>