/* Index */
h2 {
  text-align: center;
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
}

.index-container {
  width: 30vw;
  height: 30vw;

}

.index-image {
  height: auto;
  width: 100%;
  border-radius: 100%;
}


/* Edit & New Pages */
h1 {
  text-align: center;
  font-weight: 1000px; 
  color: white;
}

body {
  background-image: url(https://cdn.wallpapersafari.com/93/45/XrYEjW.jpg);
  background-size: 800px;
  background-position-x:center;
  background-position-y: top; 
}

#otis li {
  list-style-type: none;
}

/* Container */
.char-creation {
  width: 50%;
  background: rgb(125, 124, 124);
  border-radius: 10px 10px 10px 10px;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 25%;
  overflow: auto;
}

/* Forms */
fieldset {
  border: 3px solid rgb(242, 240, 236);
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
}

input,
textarea {
  width: 50%;
  margin: 10px 10px;
  padding: 10px;
  box-sizing: border-box;
  border:rgb(227, 223, 216);
  border-radius: 5px;
}

/* "Create" Link */
input[type="submit"] {
  
  width: 18%;
  font-family: "Oswald";
  font-size: 100%;
  color: black;
  border: 10px;
}

label {
  display: inline-block;
  clear: right;
  width: 75px;
  text-align: left;
  font-family: "Oswald";
  font-size: 110%;
  color: white;
}

textarea {
  resize: none;
  height: 75px;
}

/* Show */
/* .container {
  width: 76vw;
  height: 60vw;
  margin: 50px auto;
  display: flex;
  border-radius: 10px;
} */

.primary-column {
  border: solid; 
  border-width: 2px;
  border-color: black;
  background-color: black;
  
}

.main-text {
  color: white;
}

.main-text h1 {
  font-family: 'Source Serif Pro', serif;
  font-style: italic;
}

.char-image {
  height: auto;
  width: 100%;
  border-radius: 100%;
}

.secondary-column {
  background-color: #f7e0ff;
  border: 1px solid;
}

.biography {
  border-bottom: 1px solid grey;
  font-size: 40px;
  /* text-align: left; */
  text-indent: 50px;
  font-family: 'Source Serif Pro', serif;
}

p {
  font-size: 20px;
  text-align: justify;
  /* text-indent:  */
}

.bg-image {
  background-image: url("images/bookimage.jpg");
  
  filter: blur(4px);
  -webkit-filter: blur(4px);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}