/* Show & New Pages */
h1 {
  text-align: center;
  font-weight: 1000px; 
  color: white;
}

body {
  font-family: "Oswald";
  background-image: url(https://cdn.wallpapersafari.com/93/45/XrYEjW.jpg);
  background-size: 800px;
  background-position-x:center;
  background-position-y: top; 
}
;
#otis li {
  list-style-type: none;
}

/* Container */
.charcreation {
  width: 50%;
  background: rgb(125, 124, 124);
  border-radius: 10px 10px 10px 10px;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 25%;
  /* overflow: auto; */
}

/* Forms */
fieldset {
  border: 3px solid rgb(242, 240, 236);
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
}

input,
textarea {
  width: 50%;
  margin: 10px 10px;
  padding: 10px;
  box-sizing: border-box;
  border:rgb(227, 223, 216);
  border-radius: 5px;
}

/* "Create" Link */
input[type="submit"] {
  
  width: 18%;
  font-family: "Oswald";
  font-size: 100%;
  color: black;
  border: 10px;
}

label {
  display: inline-block;
  clear: right;
  width: 75px;
  text-align: left;
  font-family: "Oswald";
  font-size: 110%;
  color: white;
}

textarea {
  resize: none;
  height: 75px;
}

/* Index */

/* Show */
.primary-column {
  border: solid; 
  border-width: 2px;
  border-radius: 2ch;
  border-color: black;
  flex-basis: 50%;
  background-color: black;
  width: 20%;
  margin-left: 15%;
}

.main-text {
  color: white;
}


span {

}

.char-image {
  /* clip-path: circle(50% 0, 100% 50%, 50% 100%, 0 50%);
  width: 20%; */
}

