/* Index */
.page-title {
  text-align: center;
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
  font-size: 90px;
  color: white;
  text-shadow: black 6px 4px 3px;
}

.character-name{
  font-size: 45px;
  color: white;
}

/* .index-container {
} */

.character-row {
  background: rgb(110 110 110 / 65%);
  padding: 20px 0px;
  border-radius: 25px;
}

.character-portrait {
  display: flex;
}

.character-portrait-link {
  margin: auto;
}
.btn-custom-dlt {
  height: 100%;
  width: 100%;
}

.btn-custom-edit {
  background-color: #75a4cd;
  width: 100%;
}

.btn-custom-add {
  background-color: #75a4cd;
  font-size: 35px;
  margin: auto;
}

.index-container .row {
  margin-bottom: 20px;
}

.index-image {
  border-radius: 100%;
  border: 8px solid #e5d393;
  object-fit: cover;
  width: 250px;
  height: 250px;
}


/* Edit & New Pages */
h1 {
  text-align: center;
  font-weight: 1000px; 
  color: white;
}

html {
  background: url(/images/bookshelf.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: rgba(0,0,0,0);
}

/* Container */
.char-creation {
  width: 65%;
  background-color: rgb(110 110 110 / 65%);
  border-radius: 25px;
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
  overflow: auto;
}

.char-creation input{
  width: 85%;
}

/* Forms */
fieldset {
  border: 3px solid rgb(242, 240, 236);
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
}

input,
textarea {
  width: 50%;
  margin: 10px 10px;
  padding: 10px;
  box-sizing: border-box;
  border:rgb(227, 223, 216);
  border-radius: 5px;
}

/* "Create" Link */
input[type="submit"] {
  
  width: 18%;
  font-family: "Oswald";
  font-size: 100%;
  color: black;
  border: 10px;
}

label {
  display: inline-block;
  clear: right;
  width: 75px;
  text-align: left;
  font-family: "Oswald";
  font-size: 110%;
  color: white;
}

textarea {
  resize: none;
  height: 75px;
}

.primary-column {
  border: solid; 
  border-width: 2px;
  border-color: black;
  background-color: black;
  
}

.main-text {
  color: white;
}
.main-text .index-image {
  margin: auto;
}

.main-text .badge {
  margin: auto;
}

.main-text h1 {
  font-family: 'Source Serif Pro', serif;
  font-style: italic;
}


.secondary-column {
  background: rgb(110 110 110 / 65%);
  padding: 20px 0px;
  border-radius: 0 25px 25px 0;
  color: white;
}

@media only screen and (max-width: 768px) {
  .secondary-column {
    margin-top: 20px;
    border-radius: 25px;
  }
}

.biography {
  border-bottom: 1px solid white;
  font-size: 40px;
  text-indent: 50px;
  font-family: 'Source Serif Pro', serif;
}

p {
  font-size: 20px;
  text-align: justify;
  /* text-indent:  */
}

.bg-image {
  background-image: url("images/bookimage.jpg");
  
  filter: blur(4px);
  -webkit-filter: blur(4px);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}